<h1>Listing users</h1>
<%= link_to 'Current User', user_path(current_user) %>
<table class="stack text-center">
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Role</th>
    <th colspan="2"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td>
          <% if current_user.admin? %>
              <%= form_for(user) do |f| %>
              <div class="grid-x grid-padding-x small-offset-3 align-middle">
                <div class="small-4 cell">
                  <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
                </div>
                <div class="small-2 cell">
                  <%= f.submit 'Change Role', :class => 'button' %>
                </div>
              </div>
              <% end %>
          <% else %>
              <%= user.role %>
          <% end %>
      </td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
</table>
