<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell text-center">
      <% if @user.avatar.attached? %>
        <image src="<%=(url_for(@user.avatar))%>">
      <% end %>
    </div>

    <div class="cell text-center">
      <span>Username: <%= @user.username %></span>
    </div>
    <div class="cell text-center">
      <span>Role: <%= @user.role %></span>
    </div>
    <% if current_user == @user || current_user.moderator? %>
      <div class="cell text-center">
        <span>Email: <%= @user.email %></span>
      </div>
      <div class="cell text-center">
        <%= link_to 'Edit Profile',edit_user_registration_path %>
      </div>
    <% end %>
  </div>

  <div class="cell">
    <div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
      <%= render @user.galleries %>
    </div>
  </div>
</div>
