<%#= form_with(model: [ @gallery, @gallery.resources.build ], local: true) do |form| %>
<%= form_with model: [ @gallery, @resource ], local: true do |form| %>
  <div class="grid-container full">
    <div class="grid-x grid-margin-x">
      <div class="cell grid-x grid-padding-x">
        <div class="cell small-3 small-offset-3">
          <%= form.label "Load file", :class => "button", :for => "fileUpload" %><br>
          <%= form.file_field :file, :class => "show-for-sr", :id => "fileUpload" %>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="small-3 cell">
          <%= form.label :name, :class => "text-right middle", :for => "resource_name" %>
        </div>
        <div class="small-3 cell">
          <%= form.text_field :name %>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="small-3 cell">
          <%= form.label :description, :class => "text-right middle", :for => "resource_description" %>
        </div>
        <div class="small-3 cell">
          <%= form.text_area :description %>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="cell small-3 small-offset-3">
          <%= form.submit 'Save', :class => "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
