<div class="cell">
  <% if resource.file.attached? %>
    <div class="resource-thumbnail">

      <% if ['image/jpeg', 'image/gif', 'image/png', 'image/jpeg'].include? resource.file.content_type %>
        <%#= link_to(image_tag(resource.file.variant(resize_to_fill: [500, 500]), :class => "resource-preview"), gallery_resource_path(resource.gallery_id, resource), :class => "thumbnail") %>
        <%= link_to(image_tag(resource.file, :class => "resource-preview"), gallery_resource_path(resource.gallery_id, resource), :class => "thumbnail resource-thumbnail-image") %>
      <% else %>
        <%= link_to('show', gallery_resource_path(resource.gallery_id, resource), :class => "thumbnail") %>
      <% end %>
      <% if !resource.file.attached? %>
        <%= link_to('show', gallery_resource_path(resource.gallery_id, resource), :class => "thumbnail") %>
      <% end %>

    </div>
  <% end %>
</div>
