<h2>All resources</h2>

<ul>
  <% @resources.each do |resource| %>
    <li>
      <%= resource.name %><br>
      <%= resource.description %><br>
      <%= link_to('show', gallery_resource_path(resource.gallery, resource)) %>
      <%= link_to(resource.gallery.title, gallery_path(resource.gallery)) %>
    </li>
  <% end %>
</ul>
