<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell grid-x">
      <div class="cell small-2">
        <%= link_to user_path(@resource.gallery.user) do %>
          <strong>User: </strong><%= @resource.gallery.user.username %>
        <% end %>
      </div>
      <div class="cell">
        <%= link_to gallery_path(@resource.gallery) do %>
        <h3><strong>Gallery: </strong><%= @resource.gallery.title %></h3>
        <% end %>
      </div>
      <div class="cell small-2 medium-4">
        <h3><strong>Name: </strong><%= @resource.name %></h3>
      </div>
    </div>
    <div class="cell">
        <% if not @prev.nil? %>
          <%= link_to('Prev', gallery_resource_path(@resource.gallery, @prev)) %>
        <% end %>
        <% if not @next.nil? %>
          <%= link_to('Next', gallery_resource_path(@resource.gallery, @next)) %>
        <% end %>
      <div class="cell text-center"><hr>
        <% if @resource.file.attached? %>
        <image src="<%= (url_for(@resource.file)) %>">
          <% end %><hr>
      </div>
    </div>
    <div class="cell">
      <% if current_user == @resource.gallery.user %>
        <%= link_to('Edit Resource', edit_gallery_resource_path(@resource.gallery, @resource), :class => "button") %>
        <%= link_to 'Delete Resource', [@resource.gallery, @resource], method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %>
      <% end %>
    </div>
    <div class="cell text">
      <h3>Description:</h3>
      <%= @resource.description %>
    </div>
  </div>
</div>
