<%= form_with model: @gallery, local: true do |form| %>
  <div class="grid-container full">
    <div class="grid-x grid-margin-x">
      <div class="cell grid-x grid-padding-x">
        <div class="cell small-3">
          <%= form.label :title, :class => "text-right middle", :for => "gallery_name" %>
        </div>
        <div class="cell small-3">
          <%= form.text_field :title %>
        </div
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="small-3 cell">
          <%= form.label :is_private, :class => "text-right middle", :for => "gallery_is_private" %>
        </div>
        <div class="small-3 cell">
          <%= form.check_box :is_private %>
        </div>
      </div>
      <div class="cell grid-x grid-padding-x">
        <div class="cell small-3 small-offset-3">
          <%= form.submit 'Save', :class => "button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
