
<% if !gallery.is_private? || (current_user == gallery.user) %>
  <div class="cell">
    <h5><%= gallery.title %></h5>
    <% if gallery.resources.blank? %>
      <br><%= link_to("Add media", gallery_path(gallery)) %>
    <% else %>
      <%= link_to gallery_path(gallery), :class => "thumbnail" do %>
          <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-2">
              <% gallery.resources[0..3].each do |resource| %>
                <div class="cell small-2 gallery-cell">
                  <% if resource.file.attached? %>
                    <%#= image_tag resource.file.variant(resize_to_fill: [250, 250]), :class => "gallery-image" %>
                    <%= image_tag resource.file, :class => "gallery-image" %>
                  <% end %>
                </div>
              <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
<% end %>
