
<h1>All Galleries</h1>
<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
  <%= render @galleries %>
  <div class="cell grid-x grid-margin-x align-middle">
    <div class="cell text-center">
      <%= link_to("New gallery", new_gallery_path) %>
    </div>
  </div>
</div>
