

<div class="grid-x grid-margin-x">
  <div class="cell small-3">
    <%= link_to user_path(@gallery.user) do %>
      <strong>User:</strong>
      <%= @gallery.user.username %>
    <% end %>
  </div>
  <div class="cell">
    <h3><strong>Title:</strong><%= @gallery.title %></h3>
  </div>
  <div class="cell">
    <strong>Access:</strong>
    <% if @gallery.is_private %>
      <span>Gallery is private.</span>
    <% else %>
      <span>Gallery is open.</span>
    <% end %>
  </div>
  <div class="cell">
    <% if current_user == @gallery.user %>
      <%= link_to 'Edit', edit_gallery_path(@gallery), :class => "button" %>
      <%= link_to 'Delete Gallery', gallery_path(@gallery), method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %>
    <% end %>
  </div>
</div>


<h3 class="text-center">Resources</h3>
<div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-4">
  <%= render @gallery.resources %>
  <div class="cell grid-x grid-margin-x align-middle">
    <div class="cell text-center">
      <%= link_to('Add resource', new_gallery_resource_path(@gallery)) %>
    </div>
  </div>
</div>
