// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery {
  &-cell {
    position: relative;
    // width: 500px;
    // height: 500px;
    overflow: hidden;
  }
  &-image {
    width: 250px;
    // height: 250px;
  }
}
