.container {
    padding: 0 5%;
    position: relative;
    padding-bottom: 2.5rem;
    padding-top: 1rem;

    h2, h1 {
        color: green;
    }
}

.footer {
  position: absolute;
  padding: 1rem 1.5rem;
  bottom: 0;
  width: 100%;
  background: #e6e6e6;

  &-right {
    text-align: right;
  }
}
