// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource {
  &-thumbnail-image {
    position: relative;
    // border-radius: 50%;
    width: 500px;
    height: 500px;
    overflow: hidden;
  }
  &-preview {

  }
}
