<div class="footer grid-x grid-margin-x medium-margin-collapse small-up-2 medium-up-2 large-up-2">
  <div class="cell footer-left">
    Ruby on Rails
  </div>
  <div class="cell footer-right">
    test@test.com
  </div>
</div>
