<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
        <li class="menu-text">Galleries App</li>
        <li><%= link_to("Galleries", galleries_path)%></li>
        <li>
          <% if !current_user.blank? and (current_user.admin? or current_user.moderator?) %>
            <%= link_to("Users", users_path) %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user) do %>
                <% if current_user.avatar.attached? %>
                  <%#= image_tag current_user.avatar.variant(resize_to_fill: [50, 50]), :class => "user-avatar" %>
                  <%= image_tag current_user.avatar, :class => "user-avatar" %>
                <% end %>
              <% end %>
            </li>
            <li><%= link_to(current_user.username, user_path(current_user)) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path) %></li>
          <% end %>
      </ul>
    </div>
</div>
